div.demo-card-image {
  position: center center;
  background-repeat:no-repeat;
  background-position: center center;
}

.sq {
  max-width: 190px;
  max-height: 250px;
}

.rect {
  max-width: 190px;
  max-height: 250px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

/* Tier 1 Sponsors */
.sponsor-text {
  /*position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
}

.sponsor-bible {
  background: url('../resources/sponsors/bible_society.jpg') center / cover;
  background-size: 100%;
}

.sponsor-gorr {
  background: url('../resources/sponsors/gorr_glass_and_aluminium.jpg') center / cover;
  background-size: 70%;
}

.sponsor-ksm {
  background: url('../resources/sponsors/kerk_sonder_mure.jpg') center / cover;
  background-size: 95%;
}

.sponsor-litespeed {
  background: url('../resources/sponsors/litespeed.jpg') center / cover;
  background-size: 95%;
}

.sponsor-ac {
  background: url('../resources/sponsors/ac.jpg') center / cover;
  background-size: 95%;
}

.sponsor-monitor {
  background: url('../resources/sponsors/monitor_net.jpg') center / cover;
  background-size: 70%;
}

.sponsor-benchmark {
  background: url('../resources/sponsors/benchmark_group.jpg') center / cover;
  background-size: 95%;
}

.sponsor-kansel1 {
  background: url('../resources/sponsors/radio_kansel.jpg') center / cover;
  background-size: 70%;
}

.sponsor-kansel2 {
  background: url('../resources/sponsors/leave_your_mark.jpg') center / cover;
  background-size: 70%;
}

.sponsor-grb1 {
  background: url('../resources/sponsors/grb.jpg') center / cover;
  background-size: 70%;
}

.sponsor-aquelle {
  background: url('../resources/sponsors/aquelle.jpg') center / cover;
  background-size: 95%;
}

.sponsor-hoka {
  background: url('../resources/sponsors/hoka_one_one.jpg') center / cover;
  background-size: 95%;
}

.sponsor-sheq {
  background: url('../resources/sponsors/sheq_advance.jpg') center / cover;
  background-size: 70%;
}

.sponsor-iss {
  background: url('../resources/sponsors/iss.jpg') center / cover;
  background-size: 70%;    
}

.sponsor-sportsmans {
  background: url('../resources/sponsors/sportsmans_warehouse.jpg') center / cover;
  background-size: 95%;    
}

.sponsor-grootfm {
  background: url('../resources/sponsors/groot_fm.jpg') center / cover;
  background-size: 95%;    
}

.sponsor-momentum {
  background: url('../resources/sponsors/ryno_and_jeanette.jpg') center / cover;
  background-size: 95%;   
}

.sponsor-jaycee {
  background: url('../resources/sponsors/jaycee.jpg') center / cover;
  background-size: 95%;   
}

.sponsor-agn {
  background: url('../resources/sponsors/agn.jpg') center / cover;
  background-size: 95%;   
}

.sponsor-lew {
  background: url('../resources/sponsors/lew_geffen.jpg') center / cover;
  background-size: 95%;    
}

.sponsor-top {
  background: url('../resources/sponsors/top_net.jpg') center / cover;
  background-size: 95%
}